/* Kalender Modul | Anpassung an den OnSpotify Stil */
.MMM-MyCalendar .calendarWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em; /* Abstand zwischen den Kalendereinträgen */
  color: var(--ONSP-INTERNAL-COLOR-MUTED); /* Ähnliche Farbpalette wie Spotify */
  font-size: 1.1em;
}

.MMM-MyCalendar .calendarEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid var(--ONSP-INTERNAL-PLAYER-COLOR-PROGRESS-BG);
  transition: background-color 0.3s ease;
}

.MMM-MyCalendar .calendarEvent:hover {
  background-color: var(--ONSP-VIBRANT-LIGHTMUTED);
}

.MMM-MyCalendar .eventTitle {
  font-weight: bold;
  color: var(--ONSP-INTERNAL-COLOR-BRIGHT); /* Farbe für Titel */
}

.MMM-MyCalendar .eventTime {
  color: var(--ONSP-INTERNAL-COLOR-MUTED); /* Zeitangaben in abgedunkelter Farbe */
  font-size: 0.9em;
}

.MMM-MyCalendar .calendarEvent .fas {
  margin-right: 0.5em;
  color: var(--ONSP-BRANDCOLOR-SPOTIFY); /* Icons in der Spotify-Grünfarbe */
}
