.calendarWrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.calendarEvent {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.eventDetails {
  display: flex;
  flex-direction: column;
}

.eventTitle {
  font-size: 18px;
  font-weight: bold;
}

.eventTime {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.calendarEvent .fas {
  font-size: 20px;
  color: #1db954; /* Icon-Farbe (ähnlich wie Spotify-Grün) */
}

  
  @media screen and (max-width: 500px) {
    /* Anpassungen für kleinere Bildschirme */
    .calendarWrapper {
      max-width: 100%; /* Volle Breite für mobile Geräte */
    }
  
    .eventTitle {
      font-size: 18px; /* Kleinere Schriftgröße für Titel */
    }
  
    .eventTime {
      font-size: 14px; /* Kleinere Schriftgröße für Zeit */
    }
  }
  
  